.root {
  position: relative;
  width: 160px;
  height: 160px;
  border: 1px solid #262626;
  border-radius: 12px;
  background-color: #1e1b1b;
  overflow: hidden;
}

.playButton {
  width: 40px;
  height: 40px;
  padding: 4px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 100;
  color: var(--ji-color-text-subdued);
  background-color: rgba(0,0,0, 0.6);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.root:hover .playButton {
  opacity: 1;
}

.stationName {
  max-width: 160px;
  word-break: break-all;
}

.playable {
  cursor: pointer;
}
