.root {
  width: 100%;
  position: fixed;
  bottom: -150px;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--ji-color-elevation-2);
  transition: bottom 0.75s;
}

.visible {
  bottom: 0;
}